* {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    color: white;
    font-family: garetheavy;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'garetbook';
    src: url('../fonts/garet-book-webfont.woff2') format('woff2'),
         url('../fonts/garet-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'garetheavy';
    src: url('../fonts/garet-heavy-webfont.woff2') format('woff2'),
         url('../fonts/garet-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: radial-gradient(#021027, #000000);
}

h1 {
    font-size: 4rem;
    padding: 2rem 0;
}

h2 {
    font-size: 2rem;
    padding: 1.25rem 0;
}

h3 {
    font-size: 1.5rem;
    padding: 0.5rem 0;
}

h4 {
    font-size: 1.25rem;
    padding: 0.6rem 0;
}

p {
    font-family: garetbook;
}

.container {
    padding: 4rem;
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1.1rem;
    }
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    padding: 1rem;
}

nav li {
    display: inline;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
}

.nav-links a:hover {
    border-top: 0.25rem solid #0e5bd7;
    padding-top: 0.5rem;
}

#nav-menus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    height: 5rem;
    width: auto;
}

.social-links {
    margin-right: 1rem;
    padding-bottom: 0.5rem;
}

.social-links img {
    height: 2rem;
    width: auto;
}

.social-links li {
    padding: 1rem;
}

#icon-container {
    display: none;
}


@media only screen and (max-width: 965px) {
    nav {
        flex-direction: column;
    }
    .nav-links {
        display: flex;
        align-items: center;
    } 
    nav li {
        padding: 0.5rem;
    }
    .social-links {
        margin-right: 0rem;
    }
    #nav-menus {
        flex-direction: column;
        align-items: center;
    }
    .container {
        padding: 2rem;
    }
}

@media only screen and (max-width: 480px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #icon-container {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
        cursor: pointer;
    }
    nav {
        background-color: black;
    }
    #nav-menus {
        display: none;
    }
    .container {
        padding: 3rem 1rem;
    }
}


header h2 {
    font-family: garetbook;
}

.banner-content, .banner img {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

.banner {
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    max-width: 80%;
    display: flex;
    padding: 0 5rem;
    align-items: center;
    justify-content: center;
}

.banner .profile-pic {
    width: 25%;
    height: auto;
    border-radius: 50%;
    border: 1rem solid white;
}

.banner h2 {
    margin-bottom: 5rem;
}

.banner-content {
    flex-basis: 60%;
}

.banner-btn {
    text-transform: uppercase;
    padding: 2rem 3rem;
    font-size: 1.25rem;
    text-decoration: none;
    border-radius: 1rem;
    background-color: #0e5bd7;
    background-image: linear-gradient(to right, #062d6c 0%, #062d6c 0%);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s ease-in-out;
}

.banner-btn:hover{
  background-size: 100% 100%;
}

#particle-canvas {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 965px) {
    .banner {
        margin-top: 2rem;
        flex-direction: column-reverse;
    }
    .banner-btn {
        padding: 1.5rem 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 500px) {
    .banner .profile-pic {
        width: 200px;
        height: auto;
    }
    .banner {
        padding: 0;
        margin: 2rem auto;
    }
    .banner h2 {
        margin-bottom: 2rem;
    }
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h2 {
    text-transform: uppercase;
    text-align: center;
    border-top: 0.5rem solid #0e5bd7;
}

.tab-nav-container {
    display:flex;
    margin-top: 4rem;
}

.tab-nav {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.tab-nav a {
    font-family: garetbook;
}

.experience-tab {
    padding-left: 3rem;
    max-width: 500px;
}

.experience-tab ul {
    padding-top: 1rem;
    padding-left: 1rem;
}

.experience-role {
    font-size: 1.5rem;
}

.experience-company {
    font-size: 1.5rem;
    color:#0e5bd7;
}

.experience-tab p {
    padding-top: 0.5rem;
}

.experience-tab li {
    font-family: garetbook;
    padding-top: 0.5rem;
}

.tab-btn {
    padding: 1rem;
    cursor: pointer;
    border-left: 1px solid #6b717c;
}

.tab-btn-active {
    background-color: #282a2e;
    padding: 1rem;
    cursor: pointer;
    border-left: 3px solid #0e5bd7;
}

.tab-btn:hover {
    background-color: #282a2e;
}

@media only screen and (max-width: 500px) {
    .tab-nav-container {
        flex-direction: column;
        align-items: center;
    }
    .tab-nav {
        flex-direction: row;
        margin-bottom: 2rem;
        flex-wrap: wrap;
    }
    .tab-btn {
        border-top: 1px solid #6b717c;
        border-left: none;
    }
    .tab-btn-active {
        border-left:none;
        border-top: 3px solid #0e5bd7;
    }
    .experience-tab {
        padding: 0rem;
    }
}

.skill-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
}

.skill-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.skill-container img {
    width: 150px;
    height: auto;
}

.skill-container p {
    margin-top: 0.5rem;
}

.cards {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
}

.project-card {
    background-color: #1a2332;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 1rem;
    flex-basis: 300px;
    margin: 1rem;
    justify-content: space-between;
}

.project-card img {
    max-width: 400px;
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

.card-btn {
    text-transform: uppercase;
    padding: 1.5rem 0rem;
    text-decoration: none;
    border-radius: 1rem;
    text-align: center;
    margin-top: 2rem;
    background-color: #0e5bd7;
    background-image: linear-gradient(to right, #062d6c 0%, #062d6c 0%);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.3s ease-in-out;
}

.card-btn:hover{
    background-size: 100% 100%;
}

.technology-tags {
    margin-top: 0.5rem;
}

.technology-tags span {
    background-color: #3d4046;
    color:#dcdcdd;
    font-size: 0.8rem;
    font-family: garetbook;
    border-radius: 1rem;
    padding: 0.5rem;
    display: inline-flex;
    margin-top: 0.25rem;
}

#contact-form {
    background-color: #1a2332;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    overflow: hidden;
    margin: 3rem;
}

#contact-form p {
    margin-bottom: 1rem;
}

#contact-form img {
    max-width: 600px;
    width: auto;
    height:100%;
    border-radius: inherit;
}

@media only screen and (max-width: 925px) {
    #contact-form img { 
        display: none;
    }
    #contact-form {
        grid-template-columns: 1fr;
        margin: 3rem 1.5rem;
    }
}

.contact-col-1 {
    padding: 2rem;
    display: flex;
    max-width: 500px;
    flex-direction: column;
}

.contact-col-1 label {
    margin-top: 1rem;
}

#contact-form input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #6b717c;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-family: garetbook;
}

#contact-form textarea {
    background-color: transparent;
    border-radius: 0.5rem;
    border: 2px solid #6b717c;
    padding: 0.5rem;
    margin-top: 0.5rem;
    font-family: garetbook;
}

#contact-form input[type="submit"] {
    background-color: #0e5bd7;
    border: 0;
    border-radius: 0.5rem;
    padding: 1rem 0.5rem;
    margin-top: 1rem;
    font-family: garetheavy;
    text-transform: uppercase;
    cursor: pointer;
}

footer {
    background-color: #1a2332;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer li {
    display: inline-flex
}